<div class="page-header sm">
    {{conCtrl.mailText}}
</div>
<div class="page-content">

    <div class="col=md-6 col-sm-12 col-xs-12 col-lg-6" action="" method="post">
        <div class="sending-mail" ng-if="conCtrl.sendingMail"></div>
        <div class="sent-mail" ng-if="conCtrl.mailSent"></div>
        <div ng-hide="conCtrl.mailSent || conCtrl.sendingMail">
            <input-m m-type="text" m-label="Name" m-model="conCtrl.name"></input-m>
            <input-m m-type="text" m-label="Email Id" m-model="conCtrl.mail"></input-m>
            <input-m m-type="textarea" m-row="3" m-label="Message" m-model="conCtrl.message"></input-m>
            <button class="input-btn" ng-click="conCtrl.sendEmail()"> SEND MESSAGE</button>
        </div>
        <div></div>
    </div>

    <div id="map" class="col=md-6 col-sm-12 col-xs-12 col-lg-6">
    </div>

</div>
